body {
    width: 80%;
    margin: auto;
   
    font-family: Helvetica, Arial, Sans-Serif;
}

.capital{
    text-transform: uppercase;
}
.theThree {
    text-align: center;
}
video{
    width: 95%;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

#last{
    padding-bottom:25px;
}

#foot {
    position: fixed;
    background-color: black;
    color: white;
    padding: 9px;
    bottom: 0;
    left:0;
    width: 100%;
    text-indent: 10%;

}
#wrapper{
    text-align: justify;
}