ul {     
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
            position: fixed;
            top: 0;
            width: 100%;
            left:0;
        }

        li {
            float: left; 
        } 

        a {
            display: block;
            padding: 8px;
            color: white;
            text-decoration: none;
        }

        li a:hover {
            color: red;
            text-decoration-line: underline;
        }
        
       #first{
           margin-left:10%;
       }